body{
    background-color: rgb(30,30,30);
    overflow: hidden;
}

.div_cell {
    position: absolute;
    top: 40%;
    left: 40%;
}

.div_head,.div_body,.div_planet {
    position: absolute;
}
.div_leftEyes,.div_RightEyes{
    position: absolute;
    height: 4.5px;
    background-color: rgb(30,30,30);
    border-radius: 5px;
    animation-name: eyesMove;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    z-index: 3;
}

.div_leftEyes{
    top:213px ;
    left:350px ;
    width: 3.5px;
}
.div_RightEyes{
    top:213px ;
    left:363px ;
    width: 3.5px;
    /* 14px 차이 */
    /* 4px */
} 

@keyframes eyesMove {
    0% {
        height: 4.5px;
    }10%{
        height: 1px;
    }20%{
        height: 4.5px;
    }100%{
        height: 4.5px;
    }
}

.div_head {
    background: linear-gradient( to bottom, rgb(255,192,152) 70%, rgb(255, 235, 59),rgb(3, 169, 244));
    width: 45px;
    height: 50px;
    border-radius: 40px;
    z-index: 2;
    border: 0.1px white solid;
    top:198px ;
    left:330px ;
}

.div_body{
    background-color: rgb(124, 124, 124);
    width: 30px;
    height: 25px;
    border-radius: 5px;
    top: 240px;
    left: 340px;
    z-index: 1;
}

@keyframes headMove {

    0%{
        top: -40px;
    }50%{
        top: -38px;
    }100%{
        top: -40px;
    }

}

@keyframes bodyMove {

    0%{
        top: 0px;
    }50%{
        top: 1px;
    }100%{
        top: 0px;
    }

}

@keyframes planetMove {

    0%{
        top: 15px;
    }50%{
        top: 18px;
    }100%{
        top: 15px;
    }

}

.div_planet{
    background-color: white;   
    width: 120px;
    height: 120px;
    border-radius: 100px;
    top: 250px;
    left: 300px;
}

.div_planet_1 {
    animation-name :planetAnimation1 ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.div_planet_2 {
    animation-name :planetAnimation2 ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.div_planet_3 {
    animation-name :planetAnimation3 ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
.div_planet_4 {
    animation-name :planetAnimation4 ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2.8s;
}
.div_planet_5 {
    animation-name :planetAnimation5 ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

@keyframes planetAnimation1 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ffeb3b ;
    }
    50%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 40px 15px #ffeb3b ;
    }
    100%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ffeb3b ;
    }
}
@keyframes planetAnimation1_1 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ffeb3b ;
    }
    100%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 1000px 1000px #ffeb3b ;
    }
}
@keyframes planetAnimation2 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ff5722 ;
    }
    50%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 40px 15px #ff5722 ;
    }
    100%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ff5722 ;
    }
}
@keyframes planetAnimation2_1 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #ff5722 ;
    }
    100%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 1000px 1000px #ff5722 ;
    }
}
@keyframes planetAnimation3 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #03a9f4 ;
    }
    50%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 40px 15px #03a9f4 ;
    }
    100%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #03a9f4 ;
    }
}
@keyframes planetAnimation4 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #9c27b0 ;
    }
    50%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 40px 15px #9c27b0 ;
    }
    100%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #9c27b0 ;
    }
}
@keyframes planetAnimation5 {
    0%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #00ce00 ;
    }
    50%{
        width:8px;
        height:8px;
        box-shadow:0px 0px 40px 15px #00ce00 ;
    }
    100%{
        width:1px;
        height:1px;
        box-shadow:0px 0px 0px 0px #00ce00 ;
    }
}

.div_paint {
    position: absolute;
    top: 40%;
    left: 40%;
}

.div_chapter {
    position: absolute;
    top: 40%;
    left: 40%;
}

.chapter8 {
    animation-name : boxShadowAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} 

@keyframes boxShadowAnimation {
    0%{
        box-shadow: 0px 0px 10px 0px white ;
    }50%{
        box-shadow: 0px 0px 10px 5px white ;
    }100%{
        box-shadow: 0px 0px 10px 0px white ;
    }
}

@keyframes boxShadowAnimationBlack {
    0%{
        box-shadow: 0px 0px 10px 0px rgb(30,30,30) ;
    }50%{
        box-shadow: 0px 0px 10px 5px rgb(30,30,30) ;
    }100%{
        box-shadow: 0px 0px 10px 0px rgb(30,30,30) ;
    }
}

.div_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;   
    top: 30%;
    left: 51%;
}   
.div_content1 {
    position: absolute;
    margin-top: 0px;
}
.div_content2 {
    position: absolute;
    margin-top: 70px;
}
.div_content3 {
    position: absolute;
    margin-top: 140px;
}
.div_content4 {
    position: absolute;
    margin-top: 210px;
}
input {
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    border-radius: 50px;
    border: 2px white solid;
    outline: 0;
    padding-left: 17.5px;
    padding-right: 17px;
    background-color: rgb(30,30,30);
    color: white;
}
.ipt_nm { 
    width: 0px;
    animation-name: ipt_nm_move;  
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: none;
}
.ipt_pw {
    width: 0px;
    animation-name: ipt_pw_move;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    display: none;
}
.ipt_em {
    width: 0px;
    animation-name: ipt_em_move;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    display: none;
}
.ipt_bt {
    width: 0px;
    height: 40px;
    cursor: pointer;
    animation-name: ipt_bt_move;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    color: rgb(30,30,30);
    display: none;
}

@keyframes ipt_nm_move {

    0% {
        width : 0px;
    }
    100% {
        width : 130px;
    }
}

@keyframes ipt_pw_move {
    0% {
        width: 0px;
    }
    100% {
        width : 130px;
    }
}

@keyframes ipt_em_move {
    0% {
        width: 0px;
    }
    100% {
        width : 160px;
    }
}

@keyframes ipt_bt_move {
    0% {
        width: 0px;
        color: rgb(30,30,30);
    }
    100% {
        width : 130px;
        color: white;
    }
}

@keyframes ipt_nm_remove {

    0% {
        width : 130px;
    }
    100% {
        width : 0px;
    }
}

@keyframes ipt_pw_remove {
    0% {
        width: 130px;
    }
    100% {
        width : 0px;
    }
}

@keyframes ipt_em_remove {
    0% {
        width: 160px;
    }
    100% {
        width : 0px;
    }
}

@keyframes ipt_bt_remove {
    0% {
        width: 130px;
    }
    100% {
        width : 0px;
    }
}

.div_animation {

    width:4px;
    height:4px;
    border-radius: 1000px;
    background-color: white;
    position: absolute;
    top:40%;
    left:40%;
    cursor: pointer;
    transition: all 2s;

}

.div_textArea {

    display: none;
    position: absolute;
    top:30%;
    left:50%;

}

.ta_diary {

    transition: all 2s;
    position: absolute;
    line-height: 2;
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
    border-radius: 20px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    outline: 0;
    /* animation-name: diaryAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite; */

}

@keyframes diaryAnimation {

    0% {
        top: 0px;
    }50%{
        top: 3px;
    }100%{
        top: 0px;
    }

}

.ipt_diary {

    width: 0px; 
    height: 40px;
    left: 184px;
    top:100px;
    position: absolute;
    transition: 2s;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 2px rgb(30,30,30) solid ;

}
